CompileFlags:
  CompilationDatabase: build
  Add:
    - --target=x86_64-w64-mingw32
    - -driver-mode=g++
    - -I./build/UARTStreamParsing_autogen/include

Diagnostics:
  Suppress:
    - drv_unknown_argument

---
If:
  PathMatch: '(^|.*/)(build|third_party)/.*'

Diagnostics:
  Suppress:
    - invalid_constexpr
